<ul class="sidebar-nav" data-active="
                //c_code:active_element
                ">
    <li class="sidebar-item">
        <a href="/dashboard" class="sidebar-link">
            <i class="lni lni-user"></i>
            <span>Sales</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="/dashboard/insights" class="sidebar-link">
            <i class="lni lni-agenda"></i>
            <span>Insights</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="/dashboard/employeers" class="sidebar-link">
            <i class="lni lni-popup"></i>
            <span>employeers</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="/dashboard/newProduct" class="sidebar-link">
            <i class="lni lni-popup"></i>
            <span>new product</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="/dashboard/products" class="sidebar-link">
            <i class="lni lni-popup"></i>
            <span>products </span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="/dashboard/about" class="sidebar-link">
            <i class="lni lni-popup"></i>
            <span>about the shop</span>
        </a>
    </li>
</ul>