<h1>
    open positions as  a  manager 
</h1>

<div class="users-container container">
    //c_code:shops
</div>

<script>
    const apply_app = document.querySelectorAll("#apply_app");

    apply_app.forEach(el=> {
        el.addEventListener("click" ,  function(event) {
            event.preventDefault();

            fetch(this.href, {
                method : "POST"
            }).then(res => {
                if (res.status ==  200){
                    location.reload()
                }
            });
        })
    })

</script>
