<div class="sales-container">
    <h1>
        welcom to sales section
    </h1>
    <ul>
        //c_code:sales_list
    </ul>
</div>
<script> 
    document.querySelectorAll(".removeSale").forEach(el=> {
        el.addEventListener("click", event => {
            const id =  event.target.getAttribute("data-saleid")
            fetch("/api/sales/remove/"+id ,{
                method : "POST", 
                body : ""
            }).then(res=>{
                console.log(res.status)
            })
        })
    })
</script>