<ul class="sidebar-nav" data-active="
                //c_code:active_element
                ">
    <li class="sidebar-item">
        <a href="/dashboard" class="sidebar-link">
            <i class="lni lni-user"></i>
            <span>Sales</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="/dashboard/insights" class="sidebar-link">
            <i class="lni lni-agenda"></i>
            <span>Insights</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="/dashboard/newsale" class="sidebar-link">
            <i class="lni lni-popup"></i>
            <span>new sale</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="/dashboard/apply" class="sidebar-link">
            <i class="lni lni-popup"></i>
            <span>manager positions</span>
        </a>
    </li>
</ul>