<ul class="sidebar-nav" data-active="
                //c_code:active_element
                ">
    <li class="sidebar-item">
        <a href="/dashboard/insights" class="sidebar-link">
            <i class="lni lni-user"></i>
            <span>insights</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="/dashboard/managers" class="sidebar-link">
            <i class="lni lni-agenda"></i>
            <span>managers</span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="/dashboard/products" class="sidebar-link">
            <i class="lni lni-popup"></i>
            <span>products </span>
        </a>
    </li>
    <li class="sidebar-item">
        <a href="/dashboard/about" class="sidebar-link">
            <i class="lni lni-popup"></i>
            <span>about</span>
        </a>
    </li>
</ul>