<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1 {
            text-align: center;
            color: blueviolet;
            text-transform: uppercase;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        .info {
            text-align: center;
        }
        .info p{
            color: yellow;
        }

    </style>
</head>
<body>
    <h1>welcom to  dashboard </h1>
    <div class="info">
        <p>
            <b> HELLO TO THE PARTY </b>
        </p>
        -------- fun to die 🩻 --------
    </div>
</body>
</html>